<div class="search">
 <form #from="ngForm" (submit)="onSubmit()">
   <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">

 </form>

</div>

<div class="container" *ngIf="weatherData">

<div class="upper-data">

<img src="../assets/images/hat.jpeg"  *ngIf="weatherData.main.temp > 15" />
<img src="../assets/images/cold.jpeg"  *ngIf="weatherData.main.temp <= 15 "/>
<!--<img src="../assets/images/max.jpeg" alt="">
<img src="../assets/images/min.jpeg" alt="">
<img src="../assets/images/wind.jpeg" alt=""> -->
<div class="weather-data">
 <div class="location">
  {{weatherData.name}}
 </div>
 <div class="temperature">

  {{ weatherData.main.temp | number: '1.0-0'}} C
 </div>
 
</div>

</div>

<div class="lower-data"></div>
  <div class="more-info-label">
    More Information
  </div> 
  <div class="more-info-container">
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/images/min.jpeg" alt="">
        <span>Min</span>
      </div>
      <div class="info-block-value">
       {{weatherData.main.temp_min | number: '1.0-0'}} C
      </div>
      
    </div>

    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/images/max.jpeg" alt="">
        <span>Max</span>
      </div>
      <div class="info-block-value">
        {{weatherData.main.temp_max | number: '1.0-0'}} C
      </div>
      
    </div>

    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/images/wind.jpeg" alt="">
        <span>humidity</span>
      </div>
      <div class="info-block-value">
        {{weatherData.main.humidity}} %
      </div>
      
    </div>

    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/images/humidity.jpeg" alt="">
        <span>Wind</span>
      </div>
      <div class="info-block-value">
        {{weatherData.wind.speed}} Km/h
      </div>
      
    </div>
  </div>
</div>



<!-- <div class="container">

<div class="upper-data">

<img src="../assets/images/cold.jpeg" alt="" >
<div class="weather-data">
 <div class="location">
  Wellington
 </div>
 <div class="temperature">

  {{ 14.40 | number: '1.0-0'}} C
 </div>
 
</div>

</div>

<div class="lower-data"></div>
  <div class="more-info-label">
    More Information
  </div> 
  <div class="more-info-container">
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/images/max.jpeg" alt="">
        <span>Max</span>
      </div>
      <div class="info-block-value">
       10 C
      </div>
      
    </div>

    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/images/min.jpeg" alt="">
        <span>Min</span>
      </div>
      <div class="info-block-value">
       10 C
      </div>
      
    </div>

    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/images/wind.jpeg" alt="">
        <span>Wind</span>
      </div>
      <div class="info-block-value">
       10 C
      </div>
      
    </div>

    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/images/cold.jpeg" alt="">
        <span>Cold</span>
      </div>
      <div class="info-block-value">
       10 C
      </div>
      
    </div>
  </div>
</div> -->




<!-- <router-let></router-let> -->